name: Termux Packages Build

on:
  push:
    branches:
      - master
      - dev
      - 'dev/**'
    paths:
      - 'packages/**'
      - 'root-packages/**'
      - 'x11-packages/**'
  pull_request:
    paths:
      - 'packages/**'
      - 'root-packages/**'
      - 'x11-packages/**'
  workflow_dispatch:
    inputs:
      packages:
        description: "Space-separated package names for rebuild"
        required: true

permissions: {} # default minimal

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target_arch: [aarch64, arm, i686, x86_64]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1000

      - name: Setup environment
        run: |
          sudo apt update && sudo apt install -y \
            git wget curl unzip python3 python3-pip ninja-build \
            openjdk-17-jdk clang cmake build-essential pkg-config

      - name: Gather package list
        id: gather
        env:
          MANUAL_INPUT_PACKAGES: ${{ github.event.inputs.packages }}
        run: |
          mkdir -p ./debs ./artifacts
          # workflow_dispatch input packages
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            read -a PACKAGES <<< "${MANUAL_INPUT_PACKAGES//$'\n'/ }"
            echo "PACKAGES=${PACKAGES[*]}" >> $GITHUB_OUTPUT
          else
            echo "PACKAGES=" >> $GITHUB_OUTPUT
          fi

      - name: Build packages in Docker
        env:
          DOCKER_BUILD: ${{ steps.build-info.outputs.docker-build }}
        run: |
          declare -a packages
          for repo_path in $(jq --raw-output 'del(.pkg_format) | keys | .[]' repo.json); do
            repo=$(jq --raw-output '.["'${repo_path}'"].name' repo.json)
            if [ -f ./built_${repo}_packages.txt ]; then
              packages="$packages $(cat ./built_${repo}_packages.txt | tr '\n' ' ')"
            fi
          done

          if [ "$DOCKER_BUILD" == 'false' ]; then
            NDK=$ANDROID_NDK ANDROID_HOME=$ANDROID_SDK_ROOT ./build-package.sh -I -a ${{ matrix.target_arch }} $packages
          elif [ -n "$packages" ]; then
            ./scripts/run-docker.sh ./build-package.sh -I -a ${{ matrix.target_arch }} $packages
          fi
          mv output/*.deb ../

      - name: Archive build artifacts
        run: |
          mkdir -p artifacts
          mv *.deb artifacts/ || true
          tar cf artifacts/debs-${{ matrix.target_arch }}.tar artifacts/

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: debs-${{ matrix.target_arch }}
          path: artifacts/debs-${{ matrix.target_arch }}.tar
